
body{
    color: #020202;
    margin: 0;
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#title{
    font-weight: 800;
}

#hero{
    background-image: url("img/faded-office.png"); /* Replace with your image path */
    background-size: cover; /* Ensures the image covers the entire section */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    height: 50vh; /* Makes the hero section fill the full viewport height */
    display: block;
    padding: 10px 370px 30px 30px; /* Adds some padding for small screens */
}

.btn{
    background-color: #0ea5e9;
    color: white;
    font-weight: bold;
    border: none;
    padding: 12px 25px;
    transition: background 0.2s ease-in-out;
    transition-delay: 0ms; 
    margin-top: 5px;
}

.btn:hover{
    cursor: pointer;
    background-color: white;
    color: #0ea5e9;
    border: 1px solid #0ea5e9;
}

.underline{
    border-bottom: 4px solid #0ea5e9;
}
